accelerate==0.33.0
datasets==3.2.0
dill==0.3.8
einops==0.8.2
jaxtyping==0.3.9
matplotlib==3.10.8
pandas==3.0.2
PyYAML==6.0.2
PyYAML==6.0.3
sacrebleu==2.4.3
scikit_learn==1.8.0
setuptools==75.6.0
tqdm==4.67.1
transformer_lens==2.18.0
transformers==4.46.2
wheel==0.46.3
